:root {
    --main-dark-cl: #434455;
    --main-white-bgd: #FFFFFF;
    --bright-blue-cl: #4D5AE5;
    --dark-title-cl: #2E2F42;
    --dark-blue-bgd: #404bbf;
    --simple-white-cl: #F4F4FD;
    --border-white-cl: #e7e9fc;
    --lights-late-cl: #8E8F99;
    --lightslate: #8E8F99;
    --networks-cl: #31d0aa;
    --modal-bdg: #fcfcfc;

}

/* Common styles */

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;


    font-size: 16px;
    line-height: 1.5;
}

/* Reset */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.link {
    display: block; 
    text-decoration: none;
}

.container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Header styles */

.header {
    font-style: normal;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/*
.header-nav {
    display: flex;
    align-items: center;
    padding: 24px 0;
}
*/

.header-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    margin-right: 76px;
}

.header-logo-span {
    color: var(--dark-title-cl);
}

.header-list {
    display: flex;
    align-items: flex-start;
    gap: 40px;
}

.header-item {}

.header-link {
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--dark-title-cl);
    padding: 24px 0;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link.active::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--dark-blue-bgd);
    border-radius: 2px;

}

.header-link:hover,
.header-link:focus {
    color: var(--dark-blue-bgd);
    /*
    box-shadow:  1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);*/

}

.active {
    color: var(--dark-blue-bgd);
}

.address {
    font-style: normal;
}

.address-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-contact {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-dark-cl);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contact:hover,
.header-contact:focus {
    color: var(--dark-blue-bgd);
}


/* Hero styles */


.hero {
    max-width: 1440px;
    margin: 0 auto;
    background-color: var(--dark-title-cl);
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/pplinoffice.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-container {}







.mobile-menu-open-icon {
    stroke: #2e2f42;
}

.borders {
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.main-menu {
    display: flex;
}

.page-navigation {
    display: flex;
    align-items: center;
}

.mobile-button-open-menu {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
}

.mobile-menu-open-icon {
    stroke: #2e2f42;
}

.mobile-button-open-menu {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
}

.spisok-adress {
    font-style: normal;
    display: none;
}

.mobile-menu {
    background-color: #FFF;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    overflow: auto;
}


.hero {
    background: #2e2f42;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding: 112px 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero/hero-mob-1x.jpg);
}

.button-background {
    background-color: #4D5AE5;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    width: 169px;
    height: 56px;
    display: block;
    min-width: 169px;
    border: none;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-left: auto;
    margin-right: auto;
}



.hero-title {
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--main-white-bgd);
    display: block;
    margin: 0 auto;
    margin-bottom: 48px;
    max-width: 496px;
}

.hero-btn {
 
    font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        background-color: var(--bright-blue-cl);
        color: var(--main-white-bgd);
        cursor: pointer;
        display: block;
        margin: 0 auto;
        min-width: 169px;
        height: 56px;
        border: none;
        border-radius: 4px;
        padding: 16px 32px;
        align-items: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--dark-blue-bgd);
}


/* Benefits styles */

.benefits {
    font-style: normal;
    letter-spacing: 0.02em;
    padding: 120px 0
}

.benefits-list {
    justify-content: space-around;
    gap: 24px;
}

.benefits-item {
}

.benefits-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark-title-cl);
    margin-bottom: 8px;
}

.benefits-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

.benefits-icon {
    width: 64px;
    height: 64px;
}

.block {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    /*background-color: var(--simple-white-cl);
    border-radius: 4px;*/
    margin-bottom: 8px;
}

/* Tech section */

.section {}

.tech {
    padding-bottom: 120px;
}

.tech-title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark-title-cl);
    margin-bottom: 72px;
}

.tech-list {
    display: flex;
    gap: 24px;
}

.tech-item {}

.tech-img {
    gap: 24px;
}

/* Team section */

.section {}

.team {
    font-style: normal;
    background-color: var(--simple-white-cl);
    padding: 120px 0;

}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark-title-cl);
    margin-bottom: 72px;
}

.team-list {

    gap: 24px;
}

.team-item {
    background-color: var(--main-white-bgd);
    border-radius: 0px 0px 4px 4px;
   /* box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08); если чо эту убрать с комента а след убрать*/ 
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-img {}

.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--dark-title-cl);
    margin-bottom: 8px;
    text-align: center;
}

.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.card-name {
    padding: 32px 0px;
    box-shadow:  250ms cubic-bezier(0.4, 0, 0.2, 1);/*если что убрать можно*/
}

.networks-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.networks-item {
    width: 40px;
    height: 40px;
}

.networks-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bright-blue-cl);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.networks-icon {
    display: block;
    margin: 0 auto;
    fill: var(--simple-white-cl)
}

.networks-link:hover,
.networks-link:focus {
    background-color: var(--dark-blue-bgd)
}

/* Clients*/

.clients-section {
    padding: 120px 0;
}

.clients-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark-title-cl);
    margin-bottom: 72px;
}

.clients-list {
    display: flex;
    gap: 24px;
}

.clients-item {
    width: calc((100% - 120px) / 6);


}

.clients-link {
    color: var(--lights-late-cl);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid var(--lights-late-cl);
    width: 168px;
    height: 88px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-icon {
    fill: currentColor;
}

.clients-link:hover {
    border-color: var(--dark-blue-bgd);
    color: var(--dark-blue-bgd);
}

.clients-link:focus {
    border-color: var(--dark-blue-bgd);
    color: var(--dark-blue-bgd);

}

/* Footer section */

.footer {
    background: var(--dark-title-cl);
    padding-top: 100px;
    padding-bottom: 100px;

}

.footer-container {
   
    align-items: baseline;
   
 
}

.logo-container {
    margin-right: 120; /*-------------------*/
}

.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--bright-blue-cl);
    display: inline-block;
    margin-bottom: 16px;

}

.footer-logo-span {
    color: var(--simple-white-cl);
}

.footer-text {
    width: 264px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;

}

.title-social {
    color: #ffffff;
    margin-left: 1px;
    margin-bottom: 16px;
    font-weight: 500;
   
}

.footer-list {
    color: #ffffff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
}

.social-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-white-bgd);
    margin-bottom: 16px;
}

.footer-item {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}


.footer-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bright-blue-cl);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon {
    fill: var(--simple-white-cl)
}

.footer-link:hover,
.footer-link:focus {
    background-color: var(--networks-cl);
    box-shadow:  3px 1px rgba(0, 0, 0, 0.1),
        0px 2px 1px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* App search */

.app {
    padding-top: 96px;
    padding-bottom: 120px;
}

.search {
    padding-top: 96px;
    padding-bottom: 120px;
}

.searcch-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;

}

.search-item {}

.search-btn {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--bright-blue-cl);
    background-color: var(--simple-white-cl);
    cursor: pointer;
    padding: 12px 24px;
    border: 1px solid var(--border-white-cl);
    border-radius: 4px;
    transition-property: color, background-color, border, border-radius;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 2px 1px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);/*----------*/
}

.search-btn:hover,
.search-btn:focus {
    color: var(--main-white-bgd);
    background-color: var(--dark-blue-bgd);
    border: 1px solid transparent;
    border-radius: 4px;
}


.app-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
}

.app-item {
    width: calc((100% - 48px) / 3);
}

.app-content {
    padding: 32px 16px;
    border: 1px solid var(--border-white-cl);
    border-top: none;
}

.app-title {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark-title-cl);
    margin-bottom: 8px;
}

.app-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-dark-cl);
}

/* Overlay */
.wrapper {
    position: relative;
    overflow: hidden;

}

.app-img {}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: var(--simple-white-cl);
    background: var(--bright-blue-cl);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    padding: 40px 32px 164px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.app-item:hover .overlay {
    transform: translateY(0);
}

/* Modal styles */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 408px;
    min-height: 584px;
    flex-shrink: 0;
    border-radius: 4px;
    background-color: var(--modal-bdg);
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20), 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
    transform: translateX(-50%) translateY(-50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    padding: 0;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background-color: #4D5AE5;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
    background-color: #4D5AE5;
    border: none;
}

.modal-btn:hover,
.modal-btn:focus {
    fill: var(--main-white-bgd)
}

.modal-icon {
    stroke: var(--dark-title-cl);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Common styles */

body {
    font-family: "Roboto", sans-serif;
    color: var(--main-dark-cl);
    background-color: var(--main-white-bgd);


    font-size: 16px;
    line-height: 1.5;
}

/* Reset */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.link {
    text-decoration: none;
}

.container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Header styles */

.header {
    font-style: normal;
    border-bottom: 1px solid var(--border-white-cl);
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav {
    display: flex;
    align-items: center;
    padding: 24px 0;
}

.header-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--bright-blue-cl);
    margin-right: 76px;
}

.header-logo-span {
    color: var(--dark-title-cl);
}

.header-list {
    display: flex;
    align-items: flex-start;
    gap: 40px;
}

.header-item {}

.header-link {
    display: none;
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--dark-title-cl);
    padding: 24px 0;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link.active::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--dark-blue-bgd);
    border-radius: 2px;

}

.active {
    color: var(--dark-blue-bgd);
}

.address {
    font-style: normal;
}

.address-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header-contact {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-dark-cl);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contact:hover,
.header-contact:focus {
    color: var(--dark-blue-bgd);
}


/* Hero styles */


.hero {
    max-width: 1440px;
    margin: 0 auto;
    background-color: var(--dark-title-cl);
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.70), rgba(46, 47, 66, 0.70)), url(../images/pplinoffice.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-container {}

.hero-title {
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--main-white-bgd);
    display: block;
    margin: 0 auto;
    margin-bottom: 48px;
    max-width: 496px;
}

.hero-btn {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: var(--bright-blue-cl);
    color: var(--main-white-bgd);
    cursor: pointer;
    display: block;
    margin: 0 auto;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    align-items: center;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--dark-blue-bgd);
}


/* Benefits styles */

.benefits {
    font-style: normal;
    letter-spacing: 0.02em;
    padding: 120px 0
}

.benefits-list {
    gap: 24px;
}

.benefits-item {
}

.benefits-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark-title-cl);
    margin-bottom: 8px;
}

.benefits-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

.benefits-icon {
    width: 64px;
    height: 64px;
}

.block {
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    height: /*112px*/ 50pxs;
    /*background-color: var(--simple-white-cl);
    border-radius: 4px;
    margin-bottom: 8px;*/
}

/* Tech section */

.section {}

.tech {
    padding-bottom: 120px;
}

.tech-title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark-title-cl);
    margin-bottom: 72px;
}

.tech-list {
    display: flex;
    gap: 24px;
}

.tech-item {}

.tech-img {
    gap: 24px;
}

/* Team section */

.section {}

.team {
    font-style: normal;
    background-color: var(--simple-white-cl);
    padding: 120px 0;

}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark-title-cl);
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    gap: 24px;
    flex-direction: column;
    align-items: center;
}

.team-item {
    background-color: var(--main-white-bgd);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-img {}

.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--dark-title-cl);
    margin-bottom: 8px;
    text-align: center;
}

.team-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.card-name {
    padding: 32px 0px;
}

.networks-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.networks-item {
    width: 40px;
    height: 40px;
}

.networks-link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bright-blue-cl);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.networks-icon {
    display: block;
    margin: 0 auto;
    fill: var(--simple-white-cl)
}

.networks-link:hover,
.networks-link:focus {
    background-color: var(--dark-blue-bgd)
}

/* Clients*/

.clients-section {
    padding: 120px 0;
}

.clients-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark-title-cl);
    margin-bottom: 72px;
}

.clients-list {
    display: flex;
    gap: 72px 24px;
    flex-wrap: wrap;
}

.clients-item {
    width: calc((100% - 24px) / 2);


}

.clients-link {
    color: var(--lights-late-cl);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid var(--lights-late-cl);
    width: 168px;
    height: 88px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-icon {
    fill: currentColor;
}

.clients-link:hover {
    border-color: var(--dark-blue-bgd);
    color: var(--dark-blue-bgd);
}

.clients-link:focus {
    border-color: var(--dark-blue-bgd);
    color: var(--dark-blue-bgd);

}

/* Footer section */

.footer {
    background: var(--dark-title-cl);
    padding-top: 100px;
    padding-bottom: 100px;

}

.footer-container {

}

.logo-container {
    margin-right: 120px;
}



.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--bright-blue-cl);
    display: inline-block;
    margin-bottom: 16px;

}

.footer-logo-span {
    color: var(--simple-white-cl);
}

.footer-text {
  margin-top: 0px;
   width: 264px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--simple-white-cl)

}

.title-social {
    margin-bottom: 16px;
    font-weight: 500;
    color: #ffffff;
}

.footer-list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
}

.social-text {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-white-bgd);
    margin-bottom: 16px;
}

.footer-item {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.footer-form-container {
    margin-left: auto;
}


.footer-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bright-blue-cl);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon {
    fill: var(--simple-white-cl)
}



.footer-link:hover,
.footer-link:focus {
    background-color: var(--networks-cl);
}


.footer-form {

    gap: 24px;
}

.fooret-input {
    display: block;
    width: 264px;
    height: 40px;
    background-color: transparent;
    border-radius: 4px;
    border: 1px solid var(--white, #FFF);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding-left: 16px;
    color: #ffffff;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.modal-form-field {
color: var(--lightslate);
}



.fooret-input::placeholder {
    color: var(--white, #FFF);
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 2;
    letter-spacing: 0.04em;
}

.footer-scribe-btn {
    display: inline-flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    min-width: 165px;
    height: 40px;
    border-radius: 4px;
    background: var(--iris, #4D5AE5);
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-btn-icon {
    fill: var(--white);
    margin-left: 16px;
}

.footer-scribe-btn:hover,
.footer-scribe-btn:focus {
    background-color: #404BBF;
}

/* App search */

.app {
    padding-top: 96px;
    padding-bottom: 120px;
}

.search {
    padding-top: 96px;
    padding-bottom: 120px;
}

.searcch-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin-bottom: 72px;

}

.search-item {}

.search-btn {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    color: var(--bright-blue-cl);
    background-color: var(--simple-white-cl);
    cursor: pointer;
    padding: 12px 24px;
    border: 1px solid var(--border-white-cl);
    border-radius: 4px;
    /*transition-property: color, background-color, border, border-radius;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);*/
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);;
}

.search-btn:hover,
.search-btn:focus {
    color: var(--main-white-bgd);
    background-color: var(--dark-blue-bgd);
    border: 1px solid transparent;
    border-radius: 4px;
}


.app-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
}

.app-item {
    width: calc((100% - 48px) / 3);
}

.app-content {
    padding: 32px 16px;
    border: 1px solid var(--border-white-cl);
    border-top: none;
}

.app-link {

    
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08); /*-----------------------*/
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.app-title {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark-title-cl);
    margin-bottom: 8px;
}

.app-text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-dark-cl);
}

/* Overlay */
.wrapper {
    position: relative;
    overflow: hidden;

}

.app-img {}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: var(--simple-white-cl);
    background: var(--bright-blue-cl);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    padding: 40px 32px;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.app-item:hover .overlay {
    transform: translateY(0);
}

/* Modal styles */


.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--navyblue-modal);
}

.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    min-height: 584px;
    width: 408px;
    height: 584px;
    border-radius: 4px;
    background: #FCFCFC;
    box-shadow:
        0px 2px 1px 0px rgba(0, 0, 0, 0.20),
        0px 1px 3px 0px rgba(0, 0, 0, 0.12),
        0px 1px 1px 0px rgba(0, 0, 0, 0.14);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 72px 24px 24px 24px;
}

.modal-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.10);
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    background-color: #e7e9fc;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover,
.modal-btn:focus {
    background-color: #4D5AE5;
    border: none;
}

.modal-icon {
    fill: var(--background-dark);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn:hover .modal-icon,
.modal-btn:focus .modal-icon {
    fill: #ffffff;
}

.modal-caption {
    display: block;
    width: 360px;
    margin: 0 auto 16px auto;
    height: 24px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--navyblue, #2E2F42);
    text-align: center;
}

.form-container {
    margin-bottom: 8px;
}

.form-container-textarea {
    margin-bottom: 16px;
}

.modal-form-field {
    display: block;
    margin-bottom: 8px;
    position: relative;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
    margin-bottom: 4px;
}

.input-container {
    position: relative;
}

.modal-form-input {
    width: 100%;
    height: 40px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    padding: 11px 38px 11px 38px;
    background-color: transparent;
    color: #4D5AE5;
    font-size: 18px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: transparent;
}

.modal-form-input:focus {
    border-color: #4d5ae5
    
}

.model-input-icon {
    width: 18px;
    height: 18px;
   position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #2E2F42
}
/*-------------*/
button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

.modal-form-input:focus+.model-input-icon {
    fill: #4D5AE5
}

.modal-form-text-input {
    width: 100%;
    height: 120px;
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.40);
    padding: 8px 16px;
    background-color: transparent;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    outline: transparent;
    resize: none;
}

.modal-form-text-input::placeholder {
    color: var(--lightslate);
    padding: 8px 0;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.17px;
    letter-spacing: 0.48px;
}

.modal-form-text-input:focus {
    border-color: #4D5AE5
}

.modal-form-btn {
 display: block;
    color: var(--white, #FFF);
    text-align: center;
    width: 169px;
    height: 56px;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    background: var(--iris, #4D5AE5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    margin: 0 auto;
    min-width: 169px;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-btn:hover {
    background: #404BBF
}

.form-conttainer-checkbox {
    margin-bottom: 24px;
}

.modal-form-agreement {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: var(--lightslate)
}

.checkbox-icon-in-check {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition:
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-custom-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border-radius: 4px;
    background: #FCFCFC;
    transition:
        border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-link {
    color: #4D5AE5;
    text-decoration: underline;
}

.modal-form-checkbox:checked+.modal-form-agreement>.checkbox-icon-in-check {
    background-color: #404bbf; 
    border: none;
    fill: #f4f4fd;
}

 .modal-form-checkbox-icon {


} 
.modal-form-desc {
    color: #8E8F99;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.48px;
    user-select: none;
}

/* . */
@keyframe model-animation {
    0% {
        scale: 0.25;
    }

    50% {
        scale: 0.5;
    }

    100% {
        scale: 1;
    }
}